[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pycodestyle = "*"
dotenv = "*"
pillow = "*"
pytest = "*"
pytest-django = "*"
requests = "*"
psycopg2-binary = "*"
pyjwt = "*"
redis = "*"
django-oauth-toolkit = "*"
requests-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
